[
  { "username": "user1_ebac", "password": "SUBSTITUA_PELA_SENHA_REAL" },
  { "username": "user2_ebac", "password": "SUBSTITUA_PELA_SENHA_REAL" },
  { "username": "user3_ebac", "password": "SUBSTITUA_PELA_SENHA_REAL" },
  { "username": "user4_ebac", "password": "SUBSTITUA_PELA_SENHA_REAL" },
  { "username": "user5_ebac", "password": "SUBSTITUA_PELA_SENHA_REAL" }
]
